<div class="main">
  <div class="sidebar">
    <h1>Photos</h1>
    <input type="text" placeholder="Name" id="photo_name"></br>
    <input type="text" placeholder="Url" id="photo_url"></br>
    <input type="text" placeholder="Photographer ID" id="photographer_id"></br>
    <button id="add">Add a photo</button>
    <h3 id="added_text"></h3>
    <select id="delete_id"> 
    </select></br>
    <button id="delete">Remove a photo</button>
    <h3 id="delete_text"></h3>
    <select id="update_id"> 
    </select></br>
    <input type="text" placeholder="Update Name" id="update_photo_name"></br>
    <input type="text" placeholder="Update Url" id="update_photo_url"></br>
    <input type="text" placeholder="Photographer ID" id="update_photographer_id"></br>
    <button id="update">Update Info.</button>
    <h3 id="update_text"></h3>
    <a href="/home"><button>Main Menu</button></a>
  </div>
  <div class="columns">
    <div id="column1">
      <ul id="all_photos">
      </ul>
    </div>
    <div id="column2">
    </div>
    <div id="column3">
    </div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
<script src="photos.js" type="text/javascript"></script>