/* Box model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

.main {
  background: #336600;
}
.sidebar {
  background: #336600;
  text-align: center;
}

.sidebar  img {
  width: 150px;
  border: 5px solid;
  margin: 10px;
}

.sidebar form {
  padding-bottom: 20px;
}

.sidebar h1 {
  padding-top: 30px;
  margin-top: 0px;
}

.sidebar button {
  width: 90%;
  height: 40px;
  background-color: #663300;
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.columns img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.columns h3 {
  text-align: center;
  padding: 10px;
}

.columns ul {
  list-style-type: none;
}

.columns {
  background: #999966;
  padding-bottom: 20px;
  text-align: center;
}

#home_image {
  margin-top: 100px;
}
@media (min-width: 450px) {
  
  .main {
    overflow: hidden;
    display: flex;
    height: 100vh;
  }
  .sidebar {
    float: left;
    width: 40%;
  }
  
  .columns {
    float: left;
    width: 60%;
    overflow: auto; 
  }
  
  .columns img {
    width: 60%;
  }
  
  .sidebar button {
    margin: 10px;
  }
}

@media (min-width: 750px) {
  
  .columns img {
    width: 80%;
  }
  #column1 {
    float: left;
    width: 33%;
    height: 100vh;
    padding: 10px;
    border-right: 2px solid;
  }
  
  #column2 {
    float: left;
    width: 33%;
    height: 100vh;
    padding: 10px;
    border-right: 2px solid;
  }
  
  #column3 {
    float: left;
    width: 33%;
    height: 100%;
    padding: 10px;
  }
  
  .item {
    height: 250px;
  }
  
  .item img {
    width: 50%;
  }
}