<div class="main">
  <div class="sidebar">
    <h1> My Photos</h1>
    <a href="/photos"><button>My Photos</button></a>
    <a href="/photographers"><button>My Photographers</button></a>
    <a href="/albums"><button>My Albums</button></a>
  </div>
  <div class="columns">
    <img id="home_image" src = "http://www.wpmayor.com/wp-content/uploads/popup_album.jpg" alt="Photo Album">
  </div>
  <div style="clear:both"></div>
</div>

