<div>
  <h1>My Photos</h1>
  <div class="menu">
    <nav>
      <ul>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/photographers">Photographers</a></li>
        <li><a href="/albums">Albums</a></li>
      </ul>
    </nav>
  </div>
  <div style="clear: both"></div>
</div>